@media (min-width:991px) {
  header .menu li a {
    padding: 30px 0;
  }
  .hero__slider.owl-carousel .owl-item.active .fadeItem{
    top: 0;
    opacity: 1;
  }
  .hero .fadeItem{
    position: relative;
    top: 30px;
    opacity: 0;
  }
}
@media (max-width:1500px) {
  .why-choose .right-side {
    padding: 10px 120px;
  }
}
@media (max-width:1400px) {
  .hero .right-slide .img-video, .hero .right-slide .arrow{
    display: none;
  }
  .hero .right-slide > div{
    justify-content: flex-end !important;
    margin-left: 0 !important;
  }
  .why-choose .right-side {
    padding: 50px;
  }
  .why-choose .left-side label {
    left: 50%;
  }
  .why-choose .right-side .row{
    max-width: 700px;
    margin: auto;
  }
}
@media (max-width:991px) {
  body{
    padding-bottom: 51px;
  }
  header #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background: #f3f3f399;
    display: none;
  }
  header .close-menu{
    top: 10px;
    right: 15px;
  }
  header .menu {
    padding: 20px !important;
  }
  header .menu li {
    margin-bottom: 10px;
  }
  .fixed-menu{
    height: 52px;
    z-index: 9999;
  }
  header{
      min-height: 75px;
  }
  .hero .owl-item-hero > div{
    flex-direction: column-reverse;
  }
  .hero .owl-nav{
    display: none !important;
  }
  .hero .owl-carousel .owl-item img {
    height: 350px;
    object-fit: contain;
  }
  .hero {
    padding: 20px 0;
  }
  .hero .spec ul li {
    width: 33.33%;
  }
  .hero .spec ul {
    row-gap: 20px;
  }
  .product {
    margin-top: 40px;
  }
  .latest h2{
    font-size: 40px;
    line-height: 48px;
  }
  .latest {
    padding: 40px 0;
  }
  footer .logo-placeholder{
    width: 50%;
    margin: auto;
  }
  .order-history.offcanvas-end {
    right: 0 !important;
    left: 0 !important; 
    height: 85vh !important;
    max-height: 100% !important;
    transform: translateY(100%);
    max-width: 100%;
    bottom: 0;
    top: auto;
    border-radius: 24px 24px 0 0;
    background-color: var(--slate-100);
    padding-bottom: 70px !important;
    padding: 8px 12px 70px 12px !important;
  }
  .order-history.offcanvas.show {
    transform: none;
  }
  .store-product {
    padding: 50px 0;
  }
}
@media (max-width:768px) {
  .store-product input{
    width: 100%;
  }
  .product-detail .slider-nav .slick-list{
    width: 100%;
  }
  .strore-banner img{
    height: 270px;
    object-fit: cover;
  }
  .customer .next-prev-btn {
    height: 100px;
    width: 200px;
  }
  .customer .carousel-controls {
    z-index: 0;
    position: inherit !important;
    justify-content: center;
    margin-top: 30px;
  }
  .customer .quote{
    width: 48px;
    height: 40px;
  }
  .customer h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .customer{
    padding: 40px 0;
  }
}
@media (max-width:576px) {
  .text-sm-mob{
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .text-base-mob{
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .text-lg-mob{
    font-size: 18px !important;
    line-height: 28px !important;
  }
  .text-xl-mob{
    font-size: 20px !important;
    line-height: 28px !important;
  }
  .store-product {
    padding: 30px 0;
  }
  .order-history .offcanvas-body ul li .pro-img {
    width: 80px;
    height: 80px;
  }
  .hero .right-slide .img-video, .hero .right-slide .arrow{
    display: none;
  }
  .hero .spec ul li {
    width: 50%;
  }
  .hero .left-slide p{
    font-size: 12px !important;
    line-height: 16px !important;
    max-width: 260px;
    margin: 0 auto !important;
  }
  .hero .left-slide h2 {
    font-size: 36px;
    line-height: 45px;
    margin-top: 10px;
  }
  .hero .left-slide .order-btn {
    width: 140px;
    height: 40px;
    margin-top: 20px !important;
    font-size: 14px !important;
    padding: 0 5px 0 12px !important;
  }
  .hero .left-slide .order-btn svg{
    width: 32px;
    height: 32px;
  }
  .why-choose .right-side {
    padding: 30px 20px;
  }
  .why-choose .left-side h2 {
    font-size: 48px;
    line-height: 56px;
  }
  .why-choose .left-side label {
    padding: 11px 30px;
  }
  .product .pro-img{
    width: 100%;
  }
  .premier {
    padding: 40px 0;
  }
  .premier h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .premier .premier-card, .premier .premier-card .card-content  {
    padding: 20px 16px;
  }
  .latest {
    padding: 30px 0 0;
  }
  .premier .premier-card h3 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 0;
  }
  .latest h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .latest .cover-img{
    height: 500px;
    object-fit: cover;
  }
  .latest .latest-video{
    margin: 0 -12px;
  }
  footer {
    padding: 30px 0;
  }
}