@media (min-width:991px) {
  header .menu li a {
    padding: 30px 0;
  }

  .hero__slider.owl-carousel .owl-item.active .fadeItem {
    top: 0;
    opacity: 1;
  }

  .hero .fadeItem {
    position: relative;
    top: 30px;
    opacity: 0;
  }
}

/* @media (max-width:1500px) {
  .why-choose .right-side {
    padding: 10px 120px;
  }
} */

@media (max-width:1400px) {

  .hero .right-slide .img-video,
  .hero .right-slide .spin-svg,
  .hero .right-slide .arrow {
    display: none;
  }

  .hero .right-slide>div {
    justify-content: flex-end !important;
    margin-left: 0 !important;
  }

  .why-choose .right-side {
    padding: 50px 0;
  }

  .why-choose .left-side .sz_tuya_d8_btn {
    left: 50%;
  }

  /* .why-choose .right-side .row {
    max-width: 700px;
    margin: auto;
  } */

  .product-detail .slider-nav .thumb-img,
  .product-detail .custom-prev-arrow,
  .product-detail .custom-next-arrow {
    height: 80px;
  }
}

@media (max-width:1199px) {
  .text-3xl-laptop{
    font-size: 30px;
    line-height: 36px;
  }
  .checkout .order-history {
    max-width: 100%;
  }
  header .logo img{
    width: 180px;
  }

  .likeProuctCard .offcanvas-body ul li {
    display: flex !important;
    justify-content: space-between;
    align-items: center !important;
  }

  .likeProuctCard .likeProuct {
    margin-top: 0 !important;
  }
}

@media (max-width:991px) {
  body {
    padding-bottom: 51px;
  }
  .hero-banner{
    right: -300px !important;
    top: -130px !important;
  }
  .hero .left-slide h1{
    font-size: 80px;
    text-align: center;
    line-height: 90px;
  }
  .product-card {
    padding: 50px 16px 20px;
  }

  .why-choose-product {
    padding: 50px;
  }
  

  .fixed-add-to-cart {
    bottom: 52px;
  }

  .product-detail .slider-nav .thumb-img,
  .product-detail .custom-prev-arrow,
  .product-detail .custom-next-arrow {
    height: 100px;
  }

  .product-detail .slider-for .pro-img {
    height: 400px;
  }

  .faq,
  .review {
    padding: 50px 0;
  }

  .checkout .hrLine.min-w-100 {
    min-width: 20px;
  }

  .map {
    height: 300px;
  }

  header #mobile-nav-toggle {
    width: 38px;
    height: 38px;
  }

  header #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    background: transparent;
    display: none;
  }

  header .close-menu {
    top: 10px;
    right: 15px;
  }

  header .menu {
    padding: 20px !important;
  }

  header .menu li {
    margin-bottom: 10px;
  }
  header .dropdown.menu-dropdown button{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
  }
  header .dropdown-menu{
    position: inherit;
  }
  header .menu .dropdown-menu li {
    margin-bottom: 0;
  }
  

  .fixed-menu {
    height: 52px;
    z-index: 9999;
    padding: 0 80px;
  }

  header {
    min-height: 75px;
  }

  .hero .owl-item-hero>div {
    flex-direction: column-reverse;
  }

  .hero .owl-nav {
    display: none !important;
  }

  .hero .owl-carousel .owl-item img {
    height: 350px;
    object-fit: contain;
  }

  .hero {
    padding: 50px 0 20px;
  }
  .hot-deals{
    padding-top: 42px;
    padding-bottom: 0;
  }

  .hero .spec ul li {
    width: 33.33%;
  }

  .hero .spec ul {
    row-gap: 20px;
  }

  .hero .right-slide .slider-image {
    margin-left: 0px;
  }

  .product {
    margin-top: 40px;
  }

  .latest h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .latest {
    padding: 40px 0;
  }
   
  .logo-placeholder{
    margin-top: -80px;
  }

  .why-choose .whyRight {
    padding: 0 20px;
  }

  .order-history.offcanvas-end {
    right: 0 !important;
    left: 0 !important;
    height: 85vh !important;
    max-height: 100% !important;
    transform: translateY(100%);
    max-width: 100%;
    bottom: 0;
    top: auto;
    border-radius: 24px 24px 0 0;
    background-color: var(--slate-100);
    padding-bottom: 70px !important;
    padding: 8px 12px 70px 12px !important;
  }

  .order-history.offcanvas.show {
    transform: none;
  }

  .modal .btn-close {
    font-size: 10px;
    width: 15px;
    height: 15px;
    top: -10px;
    right: -10px;
  }
  .hot-deals .hot-col{
    padding: 0 16px;
  }
  .hot-deals .hot-row{
    margin: 32px -16px 0;
  }
}

@media (max-width:768px) {
  .product-detail .slider-nav .thumb-img {
    height: 80px;
  }

  .store-product input {
    width: 100%;
  }

  .why-choose-product {
    padding: 30px 40px;
  }

  .product-detail .slider-nav .slick-list {
    width: 100%;
  }

  .strore-banner h2 {
    font-size: 40px;
  }

  .strore-banner img {
    object-fit: cover;
    border-radius: 20px;
  }

  .customer .next-prev-btn {
    height: 100px;
    width: 200px;
  }

  .customer .carousel-controls {
    z-index: 0;
    position: inherit !important;
    justify-content: center;
    margin-top: 30px;
  }

  .customer .quote {
    width: 48px;
    height: 40px;
  }

  .customer h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .customer {
    padding: 40px 0;
  }
}

@media (max-width:576px) {
  .text-xs-mob{
    font-size: 12px !important;
  }
  .text-32px-mob {
    font-size: 32px !important;
    line-height: 42px !important;
  }

  .text-sm-mob {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .text-2xl-mob {
    font-size: 24px !important;
    line-height: 32px !important;
  }

  .text-base-mob {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .text-4xl-mob {
    font-size: 40px !important;
    line-height: 48px !important;
  }

  .text-3xl-mob {
    font-size: 30px;
    line-height: 36px;
  }

  .text-lg-mob {
    font-size: 18px !important;
    line-height: 28px !important;
  }

  .text-xl-mob {
    font-size: 20px !important;
    line-height: 28px !important;
  }

  header .logo img{
    width: 150px;
  }
  .hero-banner{
    right: -300px !important;
    top: -130px !important;
  }
  .hero-banner img{
    width: 90%;
  }
  .lead-form-modal .modal-content {
    padding: 16px;
  }
  .lead-form-modal .modal-title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .lead-form-modal .btn-close-lf svg{
    width: 24px;
    height: 24px;
  }

  .map {
    margin: 0 16px 30px;
  }

  .blog-details-banner label {
    background-color: var(--slate-100) !important;
    color: var(--slate-900) !important;
  }

  .blog-details-banner h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .contactUs .addressTitle {
    max-width: 300px;
    margin: auto;
  }

  .faq {
    padding: 50px 0 0;
  }

  .why-choose-product .icon-play {
    width: 72px;
  }

  .why-choose-product {
    padding: 30px 0;
  }

  .get-in-touch input {
    padding: 0 170px 0 24px;
    height: 56px;
  }

  .get-in-touch .button-light {
    right: 10px;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .order-history .offcanvas-body ul li .pro-img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .hero .right-slide .img-video,
  .hero .right-slide .arrow {
    display: none;
  }

  .hero .spec ul li {
    width: 50%;
  }

  .hero .left-slide p {
    font-size: 12px !important;
    line-height: 16px !important;
    max-width: 260px;
    margin: 0 auto !important;
  }

  .hero .left-slide h2 {
    font-size: 36px;
    line-height: 45px;
    margin-top: 10px;
  }

  .hero .left-slide .order-btn {
    /* width: 118px; */
    height: 34px;
    margin-top: 20px !important;
    font-size: 11px !important;
    padding: 0 5px 0 12px !important;
  }

  .hero .left-slide .order-btn svg {
    width: 24px;
    height: 24px;
  }

  .why-choose .right-side {
    padding: 40px 0;
  }
  

  .why-choose .left-side h2 {
    font-size: 32px;
    line-height: 38px;
  }

  .why-choose .left-side .sz_tuya_d8_btn {
    padding: 17px 31px;
  }

  .premier {
    padding: 40px 0;
  }

  .premier h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .premier .premier-card,
  .premier .premier-card .card-content {
    padding: 30px 16px;
  }

  .latest {
    padding: 30px 0 0;
  }

  .premier .premier-card h3 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 0;
  }

  .latest h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .latest .cover-img {
    height: 500px;
    object-fit: cover;
  }

  .latest .latest-video {
    margin: 0 -12px;
  }

  footer section:first-child {
    padding: 50px 0;
  }
  

  .product-detail .slider-nav .thumb-img {
    height: 70px;
  }

  #videoModal .modal-body {
    height: 40vh;
  }

  #imgZoomModal .modal-body {
    height: 70vh;
  }
  .hero .left-slide h1 {
    font-size: 54px;
    line-height: 60px;
  }

  .sz_alert {
    width: 100%;
    padding: 6px;
    border-radius: 0;
    top: 0;
    z-index: 99;
  }

  .sz_review_content {
    font-size: 20px;
  }

  .fixed-add-to-cart {
    padding: 10px 16px;
  }

  .fixed-add-to-cart .button-dark {
    font-size: 14px;
    padding: 14px 20px;
  }

  .fixed-add-to-cart .add-quantity-btn-product {
    height: 55px;
  }

  .fixed-add-to-cart .button-dark .sz_add_to_cart_circle svg {
    width: 20px;
    height: 20px;
  }

  .contact-card.leftCard {
    padding: 14px;
  }

  .contact-card {
    padding: 30px;
  }
  .product .AddToCartBtn {
    padding: 14px 30px;
  }
  .our-partner{
    padding: 40px 0;
  }
}

@media (max-width:420px) {
  .quantityWrapper {
    display: block !important;
  }
}

@media (max-width:400px) {

  .button-dark,
  .button-light {
    font-size: 16px;
    padding: 14px 18px;
  }

  .likeProuctCard .offcanvas-body ul li {
    display: block !important;
  }

  .likeProuctCard .likeProuct {
    margin-top: 10px !important;
  }
}
