* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

:root{
  --slate-50: #FEFEFE;
  --slate-100: #F3F3F3;
  --slate-200: #CDCDCD;
  --slate-300: #D1D5DB;
  --slate-900: #292929;
  --slate-950: #212121;
  --gray-50: #F2F2F2;
  --gray-300: #DBDBDB;
  --gray-400: #676767;
  --gray-500: #5D5D5D;
  --gray-800: #1F2937;
  --gray-900: #0D163A;
  --gray-950: #080707;
}

@font-face {
  font-family: 'Hubot Sans';
  src:
    url('../fonts/HubotSans.woff2') format('woff2'),
    url('../fonts/HubotSans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
@font-face {
  font-family: 'Bebas Neue';
  src:
    url('../fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Medium';
  src:
    url('../fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Semibold';
  src:
    url('../fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src:
    url('../fonts/Manrope-SemiBold.ttf') format('truetype');
  font-optical-sizing: auto;
  font-style: normal;
}
html,body {
  font-family: 'Hubot Sans';
}
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}
.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
  0%{
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50%{
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100%{
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
/* Header */
header{
  /* min-height: 100px; */
  z-index: 2;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
header .menu a.active{
  font-weight: 500;
}
header .login-btn{
  border:1px solid #8D8D8D26;

}
header #mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background: #fff;
  left: -280px;
  width: 280px;
  overflow-y: auto;
  transition: 0.4s;
  display: block !important;
}
body.mobile-nav-active header #mobile-nav{
  left: 0;
}

/* Hero */
.hero{
  padding: 80px 0 20px;
}
.hero .owl-nav .disabled span{
  background-color: var(--slate-200) !important;
  pointer-events: none;
}
.hero .hero__slider .arrow_left,
.hero .hero__slider .arrow_right{
  background-color: var(--slate-900);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.hero .owl-nav{
  display: flex;
  column-gap: 12px;
}
.hero .swiper-button-next, .hero .swiper-button-prev,
.customer .swiper-button-next, .customer .swiper-button-prev{
  position: inherit;
  background-color: var(--slate-900);
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-top: 10px !important;
}
.hero .swiper-button-next:after, .hero .swiper-button-prev:after,
.customer .swiper-button-next:after, .customer .swiper-button-prev:after{
  display: none;
}
.hero .swiper-button-next svg, .hero .swiper-button-prev svg,
.customer .swiper-button-next svg, .customer .swiper-button-prev svg{
  width: 16px;
  height: 10px;
}
.hero .left-slide h1{
  font-size: 120px;
  line-height: 110px;
  transition: all, 0.3s;
}
.hero .left-slide p{
  max-width: 420px;
  transition: all, 0.6s;
}
.hero .left-slide h2{
  font-size: 64px;
  line-height: 78px;
  transition: all, 0.9s;
}
.hero .left-slide .order-btn{
  width: 194px;
  height: 56px;
  transition: all, 1.1s;
}
.hero .right-slide .img-video{
  margin-top: 65px;
}
.hero .spec ul li{
  width: 20%;
}
.hero .right-slide .arrow{
  top: 254px;
  left: 230px;
}
.hero .right-slide .slider-image{
  margin-left: 30px;
}
.hero .right-slide h1{
  font-size: 56px;
}

/* why-choose */
.why-choose .left-side h2{
  font-size: 64px;
  line-height: 78px;
}
.why-choose .left-side label{
  padding: 16px 34px;
  bottom: 16%;
}
.why-choose .right-side .icon{
  width: 52px;
  height: 52px;
  background-color: #FFFFFF29;
}
.why-choose .right-side {
  padding: 0 200px;
}
.why-choose .right-side .row{
  row-gap: calc(var(--bs-gutter-x) * 1);
}

/* product */
.product{
  margin-top: 80px;
}
.product h2{
  font-size: 56px;
  line-height: 66px;
}
.product .top-content p{
  max-width: 380px;
}

/* premier */
.premier{
  padding: 80px 0;
}
.premier h2{
  font-size: 64px;
  line-height: 78px;
}
.premier .premier-card h3{
  font-size: 40px;
  line-height: 48px;
}
.premier .premier-card,
.premier .premier-card .card-content{
  padding: 32px;
}

/* latest */
.latest{
  padding: 80px 0;
}
.latest h2{
  font-size: 56px;
  line-height: 66px;
}

/* customer */
.customer{
  padding: 80px 0;
}
.customer h2{
  font-size: 56px;
  line-height: 66px;
}
.customer .avatar{
  width: 70px !important;
  height: 70px;
  min-width: 70px;
  border-radius: 50px;
  object-fit: cover;
}
.customer .swiper-pagination-fraction{
  z-index: 0;
}
.customer .arrow_left.disabled, .customer .arrow_right.disabled{
  background-color: var(--slate-200) !important;
}
.customer .owl-nav .disabled{
  opacity: .35;
  pointer-events: none;
}
.customer .arrow_left,
.customer .arrow_right{
  background-color: var(--slate-900);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.customer .owl-nav{
  position: absolute;
  right: 0;
  bottom: 0;
  gap: 12px;
  display: flex;
}
.customer .owl-pagination{
  min-width: 80px;
}
.customer .carousel-controls{
  z-index: 1;
}
.customer .owl-item {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.customer .owl-item.active {
  opacity: 1;
}

/* footer */
footer{
  padding: 50px 0;
}
footer .left-side p{
  max-width: 350px;
}
/* footer .right-side .links li{
  margin-bottom: 16px;
} */
footer .copy-right{
  border-top: 1px solid #ffffff33;
}
footer .social-links li a{
  background-color: #FFFFFF14;
  width: 48px;
  height: 48px;
}

/* strore */
.strore-banner h2{
  font-size: 56px;
  line-height: 66px;
}
.store-product{
  padding: 100px 0 50px;
}
.store-product input{
  width: 420px;
  height: 48px;
  padding-left: 42px;
}
.store-product input::placeholder {
  color: var(--gray-900);
  opacity: 1; 
}

.store-product input::-ms-input-placeholder { 
  color: var(--gray-900);
}
.store-product .filter-menu button{
  width: 48px;
  height: 48px;
}


/* Order model */
.order-history .offcanvas-body ul li .pro-img{
  object-fit: contain;
}
.order-history .count{
  min-width: 90px;
}
.order-history{
  max-width: 462px;
  width: 100%;
  /* height: calc(100% - 85px);
  top: 85px; */
}

.sz_product_image{
  height: 400px;
  max-width: 100%;
}
#nav-menu-container li{
  display: flex;
}